AzureDataFactory/PPL01-incremental ingestion_copy1.json
{
	"name": "PPL01-incremental ingestion_copy1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Last CDC",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "DS_Json",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "bronze",
										"p_folder": {
											"value": "@{item().table}_cdc",
											"type": "Expression"
										},
										"p_file": "cdc.json"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "current_timestamp",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current_timestamp",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data from Azure SQL to adls",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "current_timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Last CDC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM @{item().schema}.@{item().table} WHERE @{item().cdc_col} > '@{if(empty(item().from_date),activity('Last CDC').output.value[0].cdc,item().from_date)}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_azuresql",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_parquet",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "bronze",
										"p_folder": {
											"value": "@item().table",
											"type": "Expression"
										},
										"p_file": {
											"value": "@concat(item().table,'_',variables('current_timestamp'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "max_cdc",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data from Azure SQL to adls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_AzureSqlDB",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "SELECT MAX(@{item().cdc_col}) as cdc FROM @{item().schema}.@{item().table}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "updated_last_cdc",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "max_cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc",
											"value": {
												"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Json",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "bronze",
										"p_folder": {
											"value": "@{item().table}_cdc",
											"type": "Expression"
										},
										"p_file": "empty.json"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Json",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "bronze",
										"p_folder": {
											"value": "@{item().table}_cdc",
											"type": "Expression"
										},
										"p_file": "cdc.json"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_loopinput",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"current_timestamp": {
				"type": "String"
			}
		},
		"annotations": []
	}
}